<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:th="http://www.thymeleaf.org">



<head>

    <title>Spring Security Tutorial</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>



<body>

<form th:action="@{/all}" method="get" class="">

    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>

</form>

</body>

</html>